.box {
  width: 300px;
  height: 300px;
  padding: 10px;
  border-color: bisque;
}
.son22 {
  width: 100%;
  padding: 10px;
  border-color: rgb(237, 85, 62);


}
  .son11 {
  width: 100%;
  padding: 10px;
  border-color: rgb(59, 8, 39);


}
